@model OrgDocs.Models.DocFiltersVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Documentations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Documents" asp-action="Index" method="get">
    <p>
        Filters:
        <select name="docCategory" asp-items="Model.Categories" onchange="onFormSelected(this.value)">
            <option value="">All Categories</option>
        </select>

        <select name="docDept" asp-items="Model.Depts" onchange="onFormSelected(this.value)">
            <option value="">All Depts</option>
        </select>


        <input placeholder="Title" type="text" name="SearchString" />
        <input type="submit" value="Filter" />



    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].LastUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].Dept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].PdfUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Documents) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dept.Department)
            </td>
            <td>
               <a target="_blank" href="@Html.DisplayFor(modelItem => item.PdfUrl)">View Document</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
