@model IEnumerable<OrgDocs.Models.Dept>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center">Departments</h4>

<p class="text-right">
    <a class="btn btn-outline-light" asp-action="Create">Create New Department</a>
</p>

<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    <div class="row">
                        <div class="col">
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="col">
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                        </div>
                        <div class="col">
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
